<!DOCTYPE html>
<html lang="ko">
<head>
    {% include 'shared/header.html' %}
</head>

<div class="flex h-[calc(100vh-60px)] overflow-hidden">


    <div class="bg-slate-100 shadow-xl flex-grow relative">
        <div class="flex flex-col h-full w-full overflow-y-auto">
          {% if chat_message_pairs %}
              {% for pair in chat_message_pairs %}
                  {% include "message.html" with variant="human" text=pair.human_message_html %}
                  
                  {% if pair.pair.ai_message %}
                      {% include "message.html" with variant="ai" text=pair.ai_message_html %}
                  {% else %}
                      {% include "message.html" with variant="ai-sse" text="" %}
                  {% endif %}
              {% endfor %}
          {% endif %}
      

            <div id="new-message"></div>

            <div class="mt-[200px]"></div>
        </div>

        <div id="chat-input" class="absolute bottom-0 left-0 right-0 mt-auto">

            <form class="max-w-[800px] mx-auto" method="post" hx-post="/chat/send/"
                hx-target="#new-message" hx-swap="outerHTML">
                <div class="shadow-lg pb-2 backdrop-blur-lg">
                    <label for="hs-trailing-button-add-on" class="sr-only">Label</label>
                    <div class="flex rounded-md shadow-sm">
                        <textarea name="message" type="text" id="hs-trailing-button-add-on"
                            name="hs-trailing-button-add-on"
                            class="p-4 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-indigo-500 focus:ring-indigo-500"></textarea>
                        <button type="submit"
                            class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-indigo-500 text-white hover:bg-indigo-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition-all text-sm">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>