<div data-variant="{{ variant }}" class="p-4 px-16
    data-[variant=ai]:bg-slate-100 
    data-[variant=ai-sse]:bg-slate-100 
    data-[variant=human]:bg-slate-200 
    ">

    <div class="max-w-[600px] m-auto prose">
        {% if variant == "ai-sse" %}
        <div
            id="chat-sse-listener-{{ chat_id }}"
            hx-ext="sse"
            sse-connect="ssechat/{{ human_message }}/{{ chat_id }}/"
            >

            <div
                sse-swap="message"
                hx-target="#sage-answer-{{ chat_id }}"
                hx-swap="beforeend"
            ></div>

        </div>
        <div id="sage-answer-{{ chat_id }}"></div>
        
        {% else %}
        {{ text|safe }}
        {% endif %}
    </div>
</div>
